h1 {
  color: violet;
  text-align: center;
}

img.intro {
  border-radius: 50%;

}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
}

h2 {
  font-style: normal;
  text-align: left;
}

p { 
  font-style: normal;
  font-size: 20px;
}

ul {
  font-style: normal;
  font-size: 20px;
  line-height: 30px;
}

li {
  font-style: normal;
  font-size: 20px;
  line-height: 30px;
}

.aqua-background {
  background-color: aqua;
}

.pink-background {
  background-color: pink;
}

.violet-background {
  background-color: violet;
}

.white-background {
  background color: none;
}